<div class="interactive-wrapper interactive-wrapper--first-edition">
  <div class="shaded">
    <div class="inner-frame">
      <div class="gs-container">
        <b class="section-title">Email Newsletters</b>
      </div>
      <div class="divider"></div>

      <div class="gs-container">
        <div class="column-layout">
          <main class="column-layout__left">
            <header>
              <div>Uk Focused</div>
              <h1>Sign up for the First Edition</h1>
            </header>

            <section>
              Start the day one step ahead. Our email breaks down the key
              stories of the day and why they matter.
            </section>

            <section>
              <iframe
                src="https://www.theguardian.com/email/form/thrasher/4156"
                height="60px"
                width="100%"
                scrolling="no"
                frameborder="0"
                seamless
                class="iframed--overflow-hidden js-email-sub__iframe js-email-sub__iframe--article"
                data-form-success-desc=""
              >
              </iframe>
              <p>You'll receive this email newsletter <b>daily</b></p>
            </section>

            <section>
              <h2>Share First Edition</h2>
            </section>
          </main>

          <aside class="column-layout__right">
            <p>click here to see the latest version of first edition</p>
            <figure style="background-color: gray; height: 10rem"></figure>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-frame">
    <div class="gs-container">
      <h2>Like this, we'd also recommend signing up to:</h2>
    </div>

    <div class="gs-container">
      <h2>you might also like</h2>
    </div>
  </div>
</div>
