
    <div class="illustration-container">
      <img src="<%= path %>/assets/the-flyer-optimised.png" class="inline-the-flyer__svg" />
    </div>

    <div class="content email-signup-main">
        <div class="gs-container">

            <div class="content__main-column main__column--horizontal-bar">
                <header class="email-signup-header">
                    <h1 class="email-signup-header__heading"><span class="coloured-heading">the</span>flyer</h1>

                    <p class="email-signup-header__intro">Weekly travel inspiration</p>
                    <p class="email-signup-header__text">Off-piste attractions, budget breaks, top 10s and reader reviews. Uncover unconventional destinations and rediscover old favourites - let our travel editors guide you to trips worth taking.</p>

                    </p>
                </header>

                <div class="the-flyer">

                    <div class="email-signup" data-component="the-flyer">
                      <iframe src="https://www.theguardian.com/email/form/plaintone/2211" height="42px" width="100%" scrolling="no" frameborder="0" seamless
                      class="iframed--overflow-hidden js-email-sub__iframe js-email-sub__iframe--article"
                      data-form-success-desc="">
                      </iframe>

                        <div class="email-signup__aside-text">
                            <span>No spam ever. Unsubscribe in one click.</span>
                            <span class="email-signup__aside-text__frequency">
                              <span class="inline-clock inline-icon">
                                <svg width="11" height="11" viewBox="0 0 11 11"><path d="M5.4 0c-3 0-5.4 2.4-5.4 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4-2.4-5.4-5.4-5.4zm3 6.8h-3.7v-5.1h.7l.6 3.7 2.4.6v.8z"/></svg>
                              </span>
                                Every Weds
                            </span>
                        </div>
                    </div>

                </div><!-- end of the flyer div -->

            </div>

        </div><!-- end of gs-container -->
    </div><!-- end of content email-signup-main -->

    <div class="content">
        <div class="gs-container">
            <div class="content__main-column">

              <div class="email-signup-sample" data-component="the-flyer">
                  <a target="_blank" class="js-email-example" href="https://www.theguardian.com/email/the-flyer?format=email-connected"chr>
                      <button class="email-signup-sample__button"  data-link-name="the-flyer-sample">
                          View the latest email
                          <span class="inline-arrow-right inline-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M22.8 14.6l-7.6-7.6-.7.7 5.5 6.6h-14v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/>
                            </svg>
                          </span>
                      </button>
                  </a>
              </div>

            </div>
        </div>
    </div>
