@import "mq";
@import "fonts";

$neutral-1: #333333;
$neutral-7: #484848;
$neutral-2: #767676;
$neutral-3: #bdbdbd;
$illustration-bg: #2c407f;

$comment-main-1: #c05303;
$comment-main-2: #ff9b0b;
$comment-support-1: #7d7569;
$comment-support-2: #efefec;
$comment-support-3: #ffce4b;
$comment-support-4: #e6711b;

$gs-baseline: 12px;

.is-hidden {
  display: none;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow-x: hidden !important;
}

.email-sub__form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.email-sub__form {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.gs-container {
    box-sizing: border-box;
}

.content {
    padding-bottom: $gs-baseline * 4;
}

.illustration-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: $illustration-bg;
    min-height: 10rem;
    height: 220px;
    width: 100%;
    position: relative;
    z-index: 80;

    @include mq(tablet) {
        height: 360px;
    }
}

.inline-opinion__png {
    overflow: hidden;
    position: absolute;
    height: 100%;
    z-index: 100;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.email-signup {
    background-color: $comment-support-2;
    min-width: 16em;
}

.main__column--horizontal-bar:before {
    content: '';
    display: block;
    border-bottom: 2px solid $comment-support-2;
}



.email-signup-main {
    background-color: $comment-support-2;
  }

.opinion-email {
    margin-top: $gs-baseline * 2;

    .email-sub__lozenge {
        border: 0.0625rem solid $comment-support-2;
        border-radius: 100px;
        float: left;
        width: 70%;
        height: 3em;
        margin-bottom: $gs-baseline;

        &:hover,
        &:focus,
        &:active {
            border-color: darken($comment-support-4, 10%);
        }

        @include mq($until: tablet) {
            width: 100%;
        }
    }

    .email-sub__lozenge--input {
      padding: .667em 1.250em;
    }

    .email-sub__lozenge--submit {
        color: $neutral-7;
        width: 25%;
        margin: 0px 0px $gs-baseline 3%;
        background-color: inherit;

        @include mq($until: tablet) {
            width: 100%;
            margin-left: 0;
        }
    }

    .inline-clock {
        fill: $neutral-7;
    }

    .email-signup__aside-text {
        @include fs-textSans(2);
        color: $comment-support-4;
        width: 65%;
        margin-left: 2%;

        @include mq($until: tablet) {
            width: 95%;
        }
    }

    .email-signup__aside-text__frequency {
        color: $neutral-2;
        float: right;
    }
}

.coloured-heading {
    color: $comment-support-4;
}

.email-signup-header {
    color: $neutral-7;
}

.email-signup-header__heading {
    @include fs-header(5);
    padding: 6px 0px 4px .3rem;
    font-size: 28px;

    @include mq($from: tablet) {
        font-size: 36px;
        margin-top: 2px;
    }
}

.email-signup-header__intro {
    @include fs-header(2);
    padding: 0 .3rem;

    @include mq($from: tablet) {
        @include fs-header(3);
    }
  }

.email-signup-header__text {
    @include fs-bodyCopy(2);
    padding: 0 .3rem;
    margin-top: $gs-baseline / 2;

    @include mq($from: tablet) {
        @include fs-bodyCopy(3);
        margin-top: $gs-baseline;
    }
}

.email-signup-sample {
    height: 300px;
    background-color: #ffffff;
}
