<div class="l-side-margins">

    <div class="illustration-container">
      <img src="<%= path %>/assets/opinion-optimised.png" class="inline-opinion__png" />
    </div>

    <div class="content email-signup-main">
        <div class="gs-container">

            <div class="content__main-column main__column--horizontal-bar">
                <header class="email-signup-header">
                    <h1 class="email-signup-header__heading">theguardian<span class="coloured-heading">opinion</span></h1>

                    <p class="email-signup-header__intro">Get out of your bubble</p>
                    <p class="email-signup-header__text">See things from another point of view -  join the debate and you might even change your mind.</p>
                    <p class="email-signup-header__text">Sign up to have the Guardian’s best opinion pieces emailed to you every weekday afternoon.</p>
                </header>

                <div class="opinion-email">

                    <div class="email-signup email-signup__lozenge" data-component="opinion-email-interactive">
                      <iframe src="https://www.theguardian.com/email/form/plaintone/3811" height="60px" width="100%" scrolling="no" frameborder="0" seamless
                      class="iframed--overflow-hidden js-email-sub__iframe js-email-sub__iframe--article"
                      data-form-success-desc="">
                      </iframe>

                        <div class="email-signup__aside-text">
                            <span>No spam ever. Unsubscribe in one click.</span>
                            <span class="email-signup__aside-text__frequency">
                              <span class="inline-clock inline-icon">
                                <svg width="11" height="11" viewBox="0 0 11 11"><path d="M5.4 0c-3 0-5.4 2.4-5.4 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4-2.4-5.4-5.4-5.4zm3 6.8h-3.7v-5.1h.7l.6 3.7 2.4.6v.8z"/></svg>
                              </span>
                                Mon to Fri
                            </span>
                        </div>
                    </div>

                </div><!-- end of email-signup-main div -->

            </div>

        </div><!-- end of gs-container -->
    </div><!-- end of content email-signup-main -->

    <div class="content">
        <div class="gs-container">
            <div class="content__main-column">
              <div class="email-signup-sample">
              </div>

            </div>
        </div>
    </div>

</div>
