.interactive-wrapper--first-edition {
  .content-section {
    &__category-line {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;
    }

    &__category-svg-container {
      background-color: $yellow-accent;
      padding: 6px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 3px;
    }
    
    &__category-text {
      @include fs-textSans(2);
      font-size: 14px;
      line-height: 18.9px;
      font-weight: 700;
    }

    h1 {
      font-size: 34px;
      line-height: 39.1px;
      font-weight: 700;
      font-family: $f-serif-headline;
      margin-bottom: 12px;
    }
    
    &__copy-text {
      font-size: 17px;
      line-height: 25.5px;
      margin-bottom: 16px;
    }

    &__privacy {
      font-family: $f-sans-serif-text;
      font-size: 12px;
      line-height: 16.2px;
      color: #121212;
      padding-bottom: 18px;

      &--bold {
        font-weight: 700;
      }

      a, a:visited, a:active {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}