.interactive-wrapper {
  .l-row {

    @mixin allCells {
        .l-row__left, .l-row__right,.l-row__full {
            @content;
        }
    }

    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 8px;

    @include mq(tablet) {
      max-width: 740px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }
    @include mq(desktop) {
      flex-direction: row;
      max-width: 980px;
    }
    @include mq(leftCol) {
      max-width: 1140px;
    }
    @include mq(wide) {
      max-width: 1300px;
    }

    &__left {
        padding-left: 5px;
      flex: 1 1;
      @include mq(desktop) {
        flex: 0 0 160px;
      }
      @include mq(leftCol) {
      }
      @include mq(wide) {
        flex: 0 0 240px;
      }

      &--right-ruled {
        @include mq(desktop) {
          border-right: 1px solid #dcdcdc;
        }
      }
    }

    &__right {
      flex: 1 1;
      @include mq(desktop) {
          padding-left: 20px;
      }
    }

    &__full {
      flex: 1 1;
    }

    &--20-top {
        @include allCells() {
            padding-top: 20px;
        }
    }

    &--20-bottom {
        @include allCells() {
            padding-bottom: 20px;
        }
    }

    &--block {
        padding: 0;
        display: block;
    }
  }

  .column-layout {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;

    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__left {
      flex: 1;
    }

    &__right {
      flex: 1;
    }
  }
}
