.interactive-wrapper--first-edition {
  .preview-figure {
    background-color: grey;
    min-height: 360px;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      flex: 1;
      text-decoration: inherit;
    }

    figcaption {
      background-color: $yellow-accent;
      display: flex;
      align-items: center;

      svg {
        margin: 0 11px;
      }

      span {
        @include fs-textSans(2);
        color: #121212;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
