@import "fonts";
@import "mq";
@import "palette";
@import "gu_grid";
// @import "enhancer";
$yellow-accent: #FFE500;


$neutral-1: #333333;
$neutral-7: #484848;
$neutral-2: #767676;
$neutral-3: #bdbdbd;
$illustration-bg: #000000;
$white: #ffffff;

$comment-main-1: #c05303;
$comment-main-2: #ff9b0b;
$comment-support-1: #7d7569;
$review-support-1: #615b52;
$comment-support-3: #ffce4b;
$comment-support-4: #e6711b;

$gs-baseline: 12px;

$background-colour: $white;
$text-colour: #000000;
$secondary-colour: #c70000;


@import "preview-figure";
@import "content-section";
@import "share-section";
@import "also-banner";
@import "also-card-section";

.element-atom,
.interactive-atom {
  margin: 0 !important;
  overflow-x: hidden !important;
}

.inline-envelope {
  svg {
    fill: black;
  }
}

@mixin leftContentPadding {
  padding-left: 5px;
  @include mq(mobileLandscape) {
    padding-left: 15px;
  }
}

.interactive-wrapper--first-edition {

  .gs-container {
    box-sizing: border-box;
    padding: 0 8px;
  
    &.l-header__inner {
      padding: 0;
    }
  }

  .divider {
    background-image: repeating-linear-gradient( to bottom, #DCDCDC, #DCDCDC 1px, transparent 1px, transparent 0.25rem );
    background-repeat: repeat-x;
    -webkit-background-position: top;
    background-position: top;
    -webkit-background-size: 1px calc(0.25rem * 7 + 1px);
    background-size: 1px calc(0.25rem * 7 + 1px);
    height: calc(0.12rem * 7 + 1px);
  }

  .row-inner {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;

    @include mq(tablet) {
      max-width: 740px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }
    @include mq(desktop) {
      max-width: 980px;
    }
    @include mq(leftCol) {
      max-width: 1140px;
    }
    @include mq(wide) {
      max-width: 1300px;
    }
  }

  .shaded-row-wrapper {
    background-color: #f6f6f6;

    &--blue {
      background-color: #C1D8FC;

      .row-inner {
        border-left: none;
        border-right: none;
      }
    }

    &--space-below {
      margin-bottom: 60px;
    }
  }

  .section-title {
    margin: 12px 0;
    @include fs-textSans(2);
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    @include leftContentPadding();
  }



  .embed-section {
    margin-bottom: 38px;

    iframe {
      min-height: 60px;
    }

    &__frequency {
      @include fs-textSans(2);
      font-size: 15px;
      line-height: 20.25px;
      color: #333333;
    }
  }


  .column-layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 30.5px;

    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__left {
      flex: 1;
      @include leftContentPadding();
      padding-top: 48px;
    }
    
    &__right {
      padding-top: 48px;
      flex: 1;
    }

  }

}



.android,
.ios {

}
