@import "fonts";
@import "mq";
@import "palette";
@import "gu_grid";
// @import "enhancer";

$neutral-1: #333333;
$neutral-7: #484848;
$neutral-2: #767676;
$neutral-3: #bdbdbd;
$illustration-bg: #000000;
$white: #ffffff;

$comment-main-1: #c05303;
$comment-main-2: #ff9b0b;
$comment-support-1: #7d7569;
$review-support-1: #615b52;
$comment-support-3: #ffce4b;
$comment-support-4: #e6711b;

$gs-baseline: 12px;

$background-colour: $white;
$text-colour: #000000;
$secondary-colour: #c70000;


$yellow-accent: #FFE500;

.element-atom,
.interactive-atom {
  margin: 0 !important;
  overflow-x: hidden !important;
}

.inline-envelope {
  svg {
    fill: black;
  }
}

@mixin leftContentPadding {
  padding-left: 5px;
  @include mq(mobileLandscape) {
    padding-left: 15px;
  }
}

.interactive-wrapper--first-edition {

  .inner-frame {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 0;
    overflow: hidden;


    @include mq(tablet) {
      max-width: 740px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }
    @include mq(desktop) {
      max-width: 980px;
    }
    @include mq(leftCol) {
      max-width: 1140px;
    }
    @include mq(wide) {
      max-width: 1300px;
    }
  }

  .gs-container {
    box-sizing: border-box;
    padding: 0 8px;
  
    &.l-header__inner {
      padding: 0;
    }
  }

  .divider {
    background-image: repeating-linear-gradient( to bottom, #DCDCDC, #DCDCDC 1px, transparent 1px, transparent 0.25rem );
    background-repeat: repeat-x;
    -webkit-background-position: top;
    background-position: top;
    -webkit-background-size: 1px calc(0.25rem * 7 + 1px);
    background-size: 1px calc(0.25rem * 7 + 1px);
    height: calc(0.12rem * 7 + 1px);
  }

  .top-rule {
    border-top: 1px solid #dcdcdc;
  }

  .shaded {
    background-color: #f6f6f6;
  }

  .section-title {
    margin: 12px 0;
    @include fs-textSans(2);
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    @include leftContentPadding();
  }

  .content-section {
    &__category-line {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;
    }

    &__category-svg-container {
      background-color: $yellow-accent;
      padding: 6px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 3px;
    }
    
    &__category-text {
      @include fs-textSans(2);
      font-size: 14px;
      line-height: 18.9px;
      font-weight: 700;
    }

    h1 {
      font-size: 34px;
      line-height: 39.1px;
      font-weight: 700;
      font-family: $f-serif-headline;
      margin-bottom: 12px;
    }
    
    &__copy-text {
      font-size: 17px;
      line-height: 25.5px;
      margin-bottom: 16px;
    }
  }

  .embed-section {

    margin-bottom: 38px;

    iframe {
      min-height: 60px;
    }

    &__frequency {
      @include fs-textSans(2);
      font-size: 15px;
      line-height: 20.25px;
      color: #333333;
    }
  }

  .share-section {
    display: flex;
    align-items: center;

    h2 {
      font-family: $f-sans-serif-text;
      font-size: 17px;
      line-height:  22.95px;
      font-weight: 700;
      color: #333333;
      margin-right: 10px;
    }

    ul {
      float: left;
    }

    li {
      padding-right: 3px;
      float: left;
      min-width: 32px;
      cursor: pointer;
      margin-top: 3px;
    }

    span {
      border: 1px solid #121212;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 32px;
      max-width: 100%;
      width: auto;
      height: 32px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      box-sizing: content-box;

      fill: #121212;

      &:hover {
				background-color: #121212;
				border-color: #121212;
				fill: white;
			}
    
      svg {
        height: 88%;
        width: 88%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
      }
    }

  }

  .column-layout {
    display: flex;
    flex-direction: column;
    margin-bottom: 30.5px;

    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__left {
      flex: 1;
      @include leftContentPadding();
      padding-top: 48px;
    }
    
    &__right {
      padding-top: 48px;
      flex: 1;
    }

  }

}



.android,
.ios {

}
