{
  "env": {
    "development": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-import-bangtext-node",
        [
          "transform-runtime", {
            "polyfill": false,
            "regenerator": true
          }
        ]
      ]
    },
    "client": {
      "presets": [
        ["env"]
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
