
    <div class="illustration-container">
      <img src="<%= path %>/assets/weekend_reading.png" class="inline-weekend-reading__svg" />
    </div>

    <div class="content email-signup-main">
        <div class="gs-container">

            <div class="content__main-column main__column--horizontal-bar">
                <header class="email-signup-header">
                    <h1 class="email-signup-header__heading">weekend<span class="coloured-heading"> reading</span></h1>

                    <p class="email-signup-header__text">Busy week? Of course it was. Sign up for our Saturday morning email and we’ll send you our editors’ picks of the best stuff you didn’t have time to read - from features and news analysis to lifestyle and culture. Every week you can expect:</p>
                    <ul>
                      <li>catch-up guides on the week’s hot topics</li>
                      <li>dispatches and feature-length interviews</li>
                      <li>beautifully curated photo essays</li>
                      <li>and much more - from provoking opinion to delicious recipes</li>
                    </ul>
                </header>

                <div class="weekend-reading">

                    <div class="email-signup" data-component="weekend-reading">
                      <iframe src="https://www.theguardian.com/email/form/plaintone/3743" height="60px" width="100%" scrolling="no" frameborder="0" seamless
                      class="iframed--overflow-hidden js-email-sub__iframe js-email-sub__iframe--article"
                      data-form-success-desc="">
                      </iframe>

                        <div class="email-signup__aside-text">
                            <span>No spam ever. Unsubscribe in one click.</span>
                            <span class="email-signup__aside-text__frequency">
                              <span class="inline-clock inline-icon">
                                <svg width="11" height="11" viewBox="0 0 11 11"><path d="M5.4 0c-3 0-5.4 2.4-5.4 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4-2.4-5.4-5.4-5.4zm3 6.8h-3.7v-5.1h.7l.6 3.7 2.4.6v.8z"/></svg>
                              </span>
                                Every Sat
                            </span>
                        </div>
                    </div>

                </div><!-- end of weekend reading div -->

            </div>

        </div><!-- end of gs-container -->
    </div><!-- end of content email-signup-main -->

    <div class="content">
        <div class="gs-container">
            <div class="content__main-column">

              <div class="email-signup-sample" data-component="weekend-reading">
                  <a target="_blank" class="js-email-example" href="https://www.theguardian.com/membership/series/weekend-reading/latest/email">
                      <button class="email-signup-sample__button"  data-link-name="weekend-reading-sample">
                          View the latest email
                          <span class="inline-arrow-right inline-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M22.8 14.6l-7.6-7.6-.7.7 5.5 6.6h-14v1.5h14l-5.5 6.6.7.7 7.6-7.6v-.9"/>
                            </svg>
                          </span>
                      </button>
                  </a>
              </div>

            </div>
        </div>
    </div>
